In [1]:
import pandas as pd
import numpy as np
from statistics import mean

In [2]:
metadata = pd.DataFrame()
metadata = pd.read_csv('world-population-by-world-regions-post-1820 - UPDATED.csv')
metadata.head()

        Entity Code  Year  Population  Unnamed: 4  Unnamed: 5
0  Afghanistan  AFG  1800     3280000         NaN         NaN
1  Afghanistan  AFG  1801     3280000         NaN         NaN
2  Afghanistan  AFG  1802     3280000         NaN         NaN
3  Afghanistan  AFG  1803     3280000         NaN         NaN
4  Afghanistan  AFG  1804     3280000         NaN         NaN

In [26]:
Extras = ['World', 'North America', 'Asia', 'South America', 'Africa','Europe','Oceania']

In [28]:
countries = metadata.Code.unique()

avg_change = dict()
df_names = dict()
for k, v in metadata.groupby('Entity'):
    df_names[k] = v
for e in Extras:
    del df_names[e]
total_pop = 0
begin_pop = 0
for i in df_names:
    #print(df_names[i]['Population'])
    start_pop = df_names[i].iloc[0, 3]
    #print(start_pop)
    end_pop = df_names[i].iloc[len(df_names[i]) - 1, 3]
    #print(end_pop)
    start_yr = df_names[i].iloc[0, 2]
    end_yr = df_names[i].iloc[len(df_names[i]) - 1, 2]
    begin_pop += start_pop
    total_pop+=end_pop
    # print(end_pop)
#     print(end_pop - start_pop)
    avg = (end_pop - start_pop) / start_pop
    avg = avg/(end_yr - start_yr)
    avg_change[i] = avg
    
# for n in avg_change:
#     print(n)
#     print(avg_change[n])

print(total_pop)

7875289422