In [1]:
import pandas as pd
import numpy as np
from statistics import mean

In [2]:
metadata = pd.DataFrame()
metadata = pd.read_csv('world-population-by-world-regions-post-1820 - UPDATED.csv')
metadata.head(225)

          Entity Code  Year  Population  Unnamed: 4  Unnamed: 5
0    Afghanistan  AFG  1800     3280000         NaN         NaN
1    Afghanistan  AFG  1801     3280000         NaN         NaN
2    Afghanistan  AFG  1802     3280000         NaN         NaN
3    Afghanistan  AFG  1803     3280000         NaN         NaN
4    Afghanistan  AFG  1804     3280000         NaN         NaN
..           ...  ...   ...         ...         ...         ...
220  Afghanistan  AFG  2020    38928341         NaN         NaN
221  Afghanistan  AFG  2021    39835428         NaN         NaN
222       Africa  NaN  1800    81271175         NaN         NaN
223       Africa  NaN  1801    81313551         NaN         NaN
224       Africa  NaN  1802    81418900         NaN         NaN

[225 rows x 6 columns]

In [3]:
Extras = ['World', 'North America', 'Asia', 'South America', 'Africa','Europe','Oceania']

In [4]:
metadata['Entity'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America',
       'North Korea', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania',
       'Russia', 'Rwanda', 'Saint Barthlemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Svalbard and Jan Mayen', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [5]:
countries = metadata.Code.unique()

avg_change = dict()
df_names = dict()
for k, v in metadata.groupby('Entity'):
    df_names[k] = v
for e in Extras:
    del df_names[e]
total_pop = []
begin_pop = []
for i in df_names:
    #print(df_names[i]['Population'])
    start_pop = df_names[i].iloc[0, 3]
    #print(start_pop)
    end_pop = df_names[i].iloc[len(df_names[i]) - 1, 3]
    #print(end_pop)
    start_yr = df_names[i].iloc[0, 2]
    end_yr = df_names[i].iloc[len(df_names[i]) - 1, 2]
    begin_pop.append(start_pop)
    total_pop.append(end_pop)
    # print(end_pop)
#     print(end_pop - start_pop)
    avg = (end_pop - start_pop) / start_pop
    avg = avg/(end_yr - start_yr)
    avg_change[i] = avg
    
# for n in avg_change:
#     print(n)
#     print(avg_change[n])
uk = total_pop.pop(223)
uk_growth = avg_change.pop("United Kingdom")
print(uk)
print(uk_growth)
print(total_pop)
print(sum(total_pop))

68207114
0.0241848317373461
[39835428, 2872934, 44616626, 55103, 77354, 33933611, 15125, 98728, 45605823, 2968128, 107195, 25788217, 9043072, 10223344, 396914, 1748295, 166303494, 287708, 9442867, 11632334, 404915, 12451031, 62092, 779900, 11832936, 26445, 3263459, 2397240, 213993441, 30423, 441532, 6896655, 21497097, 12255429, 16946446, 27224262, 38067913, 561901, 66498, 4919987, 16914985, 175244, 19212362, 1444216102, 51265841, 888456, 5657017, 17572, 5139053, 27053629, 4081657, 11317498, 164796, 1215588, 10724553, 92377986, 5813302, 1002197, 72172, 10953714, 17888474, 104258327, 6518500, 1449891, 3601462, 1325188, 1172369, 117876226, 49053, 3528, 902899, 5548361, 65426177, 306450, 282534, 2278829, 2486937, 3979773, 83900471, 31732128, 33691, 10370747, 56868, 113015, 400013, 170184, 18249868, 13497237, 2015490, 790329, 11541683, 10062994, 7552800, 9634162, 343360, 1393409033, 276361788, 85028760, 41179351, 4982904, 85410, 8789776, 60367471, 2973462, 126050796, 10269022, 18994958, 54985702, 121388, 4328553, 6628347, 7379358, 1866934, 6769151, 2159067, 5180208, 6958538, 38254, 2689862, 634814, 658391, 28427333, 19647681, 32776195, 543620, 20855724, 442790, 59618, 374743, 4775110, 1273428, 279507, 130262220, 116255, 4024025, 39520, 3329282, 628051, 4981, 37344787, 32163045, 54806014, 2587344, 10873, 29674920, 17173094, 321292, 288217, 4860642, 6702379, 25130810, 211400704, 1614, 25887045, 2082661, 57910, 5465629, 5223376, 225199929, 18174, 5222756, 4381583, 9119005, 7219641, 33359415, 111046910, 37797000, 10167923, 2828246, 2930524, 901696, 19127772, 145912022, 13276517, 9909, 6095, 53546, 184401, 39239, 5771, 111269, 200144, 34010, 223364, 35340680, 17196308, 8697547, 98910, 8141343, 5896684, 43421, 5460726, 2078723, 703995, 16359500, 60041996, 51305184, 11381377, 46745211, 21497306, 44909351, 591798, 2400, 10160159, 8715494, 18275704, 23855008, 9749625, 61498438, 69950844, 1343875, 8478242, 1368, 106759, 1403374, 11935764, 85042736, 6117933, 39226, 11925, 47123533, 43466822, 9991083, 332915074, 104218, 3485152, 33935765, 314464, 812, 28704947, 98168829, 11094, 611872, 30490639, 18920657, 15092171]
7807082308

In [6]:
#Tally up all changed rates
#Initial Population: 7875289422
import copy

initial_population = sum(total_pop)
initial_population

#Get all current population changes
new_populations = []
avg_change_population = list(avg_change.values())

#Apply those population changes across the current predicted populations over 100 years
for pop,change in zip(total_pop, avg_change_population):
    pop = pop * (1+change*221/100) #initial change was for 181 years
    new_populations.append(pop)
    
#Do UK separately to account for asteroid scenario
asteroid_casualties = 8761812
#after 2068 the growth rate will be decreased to account for deceased population
growth_change = asteroid_casualties/uk
uk = uk * (1+uk_growth*221/200)
uk = uk - asteroid_casualties
#growth after asteroid hit
uk = uk * (1+uk_growth*(.4)*221/200)
#.4 is an estimate of how the growth rate will severly decrease
print("Predicted Population: ", sum(new_populations) + uk)

Predicted Population:  9270856861.013134